*{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family:'Poppins',sans-serif;
}
h1 {
  font-size: clamp(28px, 5vw, 48px);
}

h2 {
  font-size: clamp(18px, 3vw, 30px);
}

p {
  font-size: clamp(10px, 2vw, 15px);
}
.HomeServeHub-header{
  background-color: black;
  color: white;
  padding-top: 10px;
}
.header-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.HomeServeHub-logo img{
  max-height:80px;
}
@media (max-width: 1000px){
  .HomeServeHub-logo img {
height: 50px;
  }
}

.nav-menu{
  display: flex;
  gap:25px ;
}
.nav-menu a{
  color: white;
}

.nav-menu a:hover{
  color:#f88b38;
}
.header-contact :hover{
  color:#f88b38;
}
@media (max-width: 768px) {
.nav-menu {
width: 100%;
justify-content: center;
margin-top: 10px;
flex-wrap: wrap;
}

.header-contact {
margin: 10px;
}
}



.footer{
  background-color: black;
  color: white;
}
.footer-aboutsection{
  height: auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  margin-left: 20px;
  padding: 10px;
}
.footer-aboutsection-content{
  width: 100%;
  max-width:200px;
}
.footer-aboutsectionlast{
  display: flex;
  justify-content: center;
  padding: 30px;
}
@media (max-width:1000px){
  .footer{
    font-size: smaller;
  }
}